.header {
    padding-top: 32px;
        padding-bottom: 32px;
}
.header-pos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list {
    display: none;
}
.burger-button {
background: transparent;
    border: none;    
}
.burger-btn__Svg {
    width: 32px;
    height: 32px;

}
.burger-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 88px;
    // padding: 32px;
    background-color: $white;
    z-index: 999;
    transform: translateX(0%);
    transition: transform 250ms ease-in-out;
}

.burger-modal.is-open {
    transform: translateX(100%);
}
.burger-btn-svg__close {
width: 32px;
    height: 32px;
}
.burger-button-close {
    background: transparent;
        border: none;
}